@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header_box,
  main {
    max-width: 95%;
  }
  .collection_item_area {
    grid-template-columns: 1fr 1fr;
  }
  .image_area > img {
    width: 70%;
  }
  .team_box {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .hero_section {
    grid-template-columns: 1fr;
  }
  .header_box,
  main {
    max-width: 95%;
  }
  .collection_item_area {
    grid-template-columns: 1fr;
  }
  .image_area > img {
    width: 70%;
  }
  .team_box {
    grid-template-columns: auto;
  }
}
